@import "lib.less";
@mainColor: #00a651;
@abColor: #f21848;
@orangeColor: #ff6400;
@shadowButton: ;
@shadowPop: 0 2px 4px rgba(88, 39, 30, 0.8);
@shadowHover: 0 2px 4px rgba(88, 39, 30, 0.3);

a{
	color: rgba(0,0,0,0.86)
}
a:hover, a:focus {
	.mxTrsnLn();
    color: @mainColor;
}
.js-sc{
	height: 100%;
}
.navbar-brand{ 
	img{
		height: 100%;
		display: inline-block;
	}
}
#side-menu{
	li a{
		font-size: 14px;
		padding-left: 30px;
		font-family: "HelveticaNeue-Medium";
	}
	.nav-second-level{
		li a{
			padding-left: 50px;
			font-family: "HelveticaNeue"
		}
	}
}
.page-header{
	font-size: 16px;
	font-family: "HelveticaNeue-Medium";
	text-transform: uppercase;
	border-bottom: 2px solid @mainColor;
	color: @mainColor
}
.wrap{
  width: ~'calc(100% - 30px)';
  margin-left: 15px;
}
.filter{
  .mxRadius(2px);
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  display: block;
  height: 34px;
  overflow: hidden;
  width: ~'calc(100% - 30px)';
  margin-left: 15px;
  position: relative;
  .fil{
  	.ovl_bg_bl(0.05);
  	.mxTrsnLn();
  	line-height: 34px;
  	float: left;
  	padding: 0 15px;
  	font-size: 14px;
  	cursor: pointer;
  	font-family: "HelveticaNeue-Light";
  	&:before{
  		.mxTrsnLn();
			display: block;
			background-color: #fff;
			width: ~'calc(100% - 30px)';
			height: 2px;
			content: '';
			position: absolute;
			bottom: 0;
  		}
  	&.atv{
  		color: @mainColor;
  		font-family: "HelveticaNeue-Medium";
  		&:before{
  			background-color: @mainColor;
  		}
  	}
  	.ab{
  		.mxRadius(8px);
  		background-color: @abColor;
  		padding: 2px 5px;
  		font-size: 12px;
  		color: #fff;
  		line-height: 16px;
  	}
  }
}
.bigchart {
	.mxRadius(2px);
  background-color: #fff;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 16px 16px 0;
  text-align: center;
  margin-top: 15px;
  .ch {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    height: 148px;
	}
	.mn {
    display: block;
    padding-top: 8px;
    .m {
	    border-bottom: 2px solid #fff;
	    color: rgba(0, 0, 0, 0.54);
	    cursor: pointer;
	    display: inline-block;
	    font-family: "HelveticaNeue-Medium";
	    font-size: 12px;
	    margin-right: 30px;
	    padding-bottom: 7px;
	    &:hover {
		    color: rgba(0, 0, 0, 0.87);
			}
			&.atv{
				color: rgba(0,0,0,0.87);
				border-bottom-color: @mainColor;
			}
		}
	}
}
.statisticspace{
	display: block;
	padding-bottom: 20px;
	.b {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
    display: block;
    float: left;
    height: 220px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    width: ~'calc((100% - 40px)/3)';
    &:nth-child(3n){
    	margin-right: 0;
    }
    .hb {
	    color: @mainColor;
	    display: block;
	    font-family: "HelveticaNeue-Bold";
	    font-size: 14px;
	    padding: 12px 0 10px 16px;
	    text-transform: uppercase;
		}
		.n {
	    font-family: "HelveticaNeue-Light";
	    font-size: 34px;
	    margin-bottom: 20px;
	    padding-left: 16px;
		}
		.tt {
	    color: rgba(0, 0, 0, 0.54);
	    font-family: "HelveticaNeue-Medium";
	    font-size: 12px;
	    margin-bottom: 5px;
	    padding-left: 16px;
	    text-transform: uppercase;
		}
		.tk {
			display: block;
	    color: rgba(0, 0, 0, 0.54);
	    font-size: 13px;
	    padding-left: 16px;
	    line-height: 20px;
	    .fa{
	    	margin-right: 5px;
	    	font-size: 16px;
	    	line-height: 20px;
	    	&.fa-chevron-circle-down{
	    		color: @abColor;
	    	}
	    	&.fa-chevron-circle-up{
	    		color: @mainColor;
	    	}
	    }
		}
		.bdch{
			display: block;
			.ch {
		    display: block;
		    float: left;
		    height: 150px;
		    margin-left: 14px;
		    margin-top: 6px;
		    position: relative;
		    width: 150px;
		    img {
			    height: 150px;
			    left: 0;
			    position: absolute;
			    top: 0;
			    width: 150px;
				}
				.nch {
			    font-family: "HelveticaNeue-Medium";
			    font-size: 34px;
			    line-height: 150px;
			    position: absolute;
			    text-align: center;
			    text-transform: uppercase;
			    width: 150px;
				}
			}
			.ttch {
		    display: block;
		    float: left;
		    height: 150px;
		    margin-left: 10px;
		    padding-top: 11px;
				.l {
					color: rgba(0, 0, 0, 0.54);
					position: relative;
			    font-size: 11px;
			    height: 12px;
			    margin-top: 18px;
			    padding-left: 15px;
			    &:after{
				    .mxRadius(50%);
				    content: "";
				    position: absolute;
				    left: 0;
				    top: 3px;
				    display: block;
				    height: 10px;
				    margin-right: 6px;
				    width: 10px;
			    }
			    &.gr:after{
			    	background-color: #01d1ac;
			    }
			    &.pi:after{
			    	background-color: #ff3890;
			    }
			    &.blu:after{
			    	background-color: #00c7ff;
			    }
			    &.gra:after{
			    	background-color: #969696;
			    }
				}
			}
		}
		.scrb {
	    height: 145px;
	    padding-left: 16px;
	    .r {
		    border-bottom: 1px dashed #979797;
		    padding-bottom: 14px;
		    padding-top: 20px;
		    width: ~'calc(100% - 16px)';
		    &:first-child{
		    	padding-top: 6px;
		    }
		    .ler {
			    float: left;
			    font-family: "HelveticaNeue-Medium";
			    font-size: 13px;
			    display: block;
			    width: 70%;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
				}
				.rir {
			    color: rgba(0, 0, 0, 0.54);
			    float: right;
			    font-size: 13px;
			    width: 25%;
			    padding-right: 5%;
			    text-align: right;
				}
			}
			.rb5 {
		    height: 20px;
		    margin-top: 10px;
		    &:first-child{
		    	margin-top: 0;
		    }
		    .num{
		    	.mxRadius(50%);
		    	float: left;
		    	display: block;
		    	height: 18px;
		    	width: 18px;
		    	border: 1px solid @mainColor;
		    	text-align: center;
		    	font-size: 12px;
		    	line-height: 16px;
		    	color: @mainColor;
		    }
		    .na{
		    	display: block;
		    	font-family: "HelveticaNeue-Medium";
		    	line-height: 18px;
		    	font-size: 13px;
		    	float: left;
		    	margin-left: 10px;
		    }
			}
			.jspPane{
				width: 100% !important;
			}
			.jspVerticalBar{
				width: 8px;
				background-color: transparent;
			}
			.jspTrack{
				background-color: rgba(0,166,81,0.5);
				width: 2px;
				left: 3px;
				.jspDrag{
					background-color: #80d3a8;
					.mxRadius(4px);
					width: 8px;
					left: -3px;
				}
			}
		}
		.more{
			.mxTrsnLn();
			display: block;
			padding-right: 16px;
			font-size: 12px;
			font-family: "HelveticaNeue-Light";
			text-align: right;
			float: right;
			cursor: pointer;
			padding-top: 5px;
			&:hover{
				font-family: "HelveticaNeue-Medium";
				text-decoration: none;
			}
		}
	}
}
.ctrlb{
	width: ~'calc(100% - 30px)';
	display: block;
	margin: 30px 0 0 15px;
	.sh{
		display: block;
		position: relative;
		.lb{
			float: left;
			line-height: 30px;
			font-size: 14px;
		}
		.sbHolder{
			margin: 0 5px;
	    background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.12);
	    float: left;
	    font-family: "HelveticaNeue";
	    width: 75px;
	    .sbToggle {
		    display: none;
			}
			.sbSelector {
		    width: 75px;
		    &:link, &:visited, &:hover {
			    color: @mainColor;
				}
			}
			.sbOptions {
		    background-color: #fff;
		    border: 1px solid rgba(0,0,0,0.12);
		    width: 75px;
		    a {
			    border-bottom: 1px solid rgba(0,0,0,0.05);
			    &:link, &:visited {
				    color: rgba(0,0,0,0.86);
				    text-decoration: none;
					}
				}
			}
		}
	}
}
.table{
	width: ~'calc(100% - 30px)';
	margin-left: 15px;
	margin-top: 15px;
	th.sb.all{
		text-align: center;
		.tt{
			display: none;
		}
		.sbHolder{
			display: block;
			margin: 0 auto;
			text-align: center;
		}
		.ttb{
			display: inline-block;
			text-align: center;
			&:hover .ip{
				color: @mainColor;
			}
		}
	}
	.is-ck, .is-ck-all{
		.mxTrsnLn();
		color: @mainColor;
	}
	.fa{
		line-height: 24px;
		cursor: pointer;
	}
	.sb{
		.sbHolder{
	    background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.12);
	    font-family: "HelveticaNeue";
	    width: 200px;
	    height: 24px;
	    .sbToggle {
		    display: none;
			}
			.sbSelector {
		    width: 200px;
		    height: 24px;
		    line-height: 24px;
		    &:link, &:visited, &:hover {
			    color: @mainColor;
				}
			}
			.sbOptions {
		    background-color: #fff;
		    border: 1px solid rgba(0,0,0,0.12);
		    width: 200px;
		    margin-top: -50%;
		    a {
			    border-bottom: 1px solid rgba(0,0,0,0.05);
			    &:link, &:visited {
				    color: rgba(0,0,0,0.86);
				    text-decoration: none;
					}
				}
			}
		}
	}
	th{
		position: relative;
		cursor: pointer;
		&.f{
			text-align: center;
		}
		&.sb{
			.sbHolder{
				display: none;
			}
			.ttb{
				display: none;
			}
		}
		.tt{
			font-size: 14px;
			font-family: "HelveticaNeue-Medium";
			line-height: 24px;
		}
		.icb{
			.mxTrsnLn();
			position: absolute;
			display: block;
			opacity: 1;
			visibility: visible;
			right: 8px;
			height: 100%;
			top: 0;
			cursor: pointer;
			padding: 0 3px;
			.fa {
				.mxTrsnLn();
		    display: block;
		    height: ~'calc(50% - 10px)';
		    padding-top: 3px;
		    color: rgba(0,0,0,0.24);
			}
		}
		.ics{
			.mxTrsnLn();
			display: block;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			right: 8px;
			height: 100%;
			top: 0;
			cursor: pointer;
			padding: 0 3px;
			.fa{
				.mxTrsnLn();
				line-height: 24px;
				right: 0;
				margin-top: -50%;
				color: rgba(0,0,0,0.56);
				-ms-transform: translateY(50%); /* IE 9 */
		    -webkit-transform: translateY(50%); /* Chrome, Safari, Opera */
		    transform: translateY(50%);
				&.fa-caret-square-o-up{
					display: none;
				}
			}
			&.down{
				.fa-caret-square-o-down{
					display: none;
				}
				.fa-caret-square-o-up{
					display: block;
				}
			}
		}
		&:hover{
			.fa{
				color: rgba(0,0,0,0.86);
			}
		}
		&.atv{
			.icb{
				display: block;
				opacity: 0;
				visibility: hidden;
			}
			.ics{
				display: block;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	td{
		font-size: 14px;
		line-height: 24px;
		&.lv{
			text-align: left;
			padding-left: 30px;
		}
	}
	tr{
		.mxTrsnLn();
		&.ck{
			background-color: rgba(0,166,81,0.1);
		}
		&.lv2 .lv{
			padding-left: 60px;
		}
	}
	.ttb{
		width: 80px;
		.ip{
			display: inline-block;
			font-family: "HelveticaNeue-Medium";
			font-size: 14px;
			line-height: 24px;
		}
	}
}
.page_number{
	display: inline-block;
	width: ~'calc(100% - 30px)';
	text-align: center;
	height: 20px;
	background-color: #f1f1f1;
	padding: 10px 0;
	margin-left: 15px;
	box-sizing: content-box;
	.page_num{
		display: inline-block;
		height: 20px;
		text-align: center;
		.num{
			.mxRadius(3px);
			.mxTrsnLn();
			.ovl_bg_bl();
			font-size: 12px;
			padding: 0 10px;
			color: rgba(0,0,0,0.54);
			line-height: 20px;
			overflow: hidden;
			float: left;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			&.atv{
				background-color: @mainColor;
				color: #fff;
			}
			&.hide{
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
			}
		}
	}
}