@import "lib.less";
@mainColor: #00a651;
@abColor: #f21848;
@orangeColor: #ff6400;
@shadowButton: ;
@shadowPop: 0 2px 4px rgba(88, 39, 30, 0.8);
@shadowHover: 0 2px 4px rgba(88, 39, 30, 0.3);

a{
	color: rgba(0,0,0,0.86)
}
a:hover, a:focus {
	.mxTrsnLn();
    color: @mainColor;
}
.js-sc{
	height: 100%;
}
.navbar-brand{ 
	img{
		height: 100%;
		display: inline-block;
	}
}
.popup{
	.mxTrsnLn();
	display: block;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	.bg_pop{
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.12);
		z-index: 9000;
	}
	.pop{
		.mxTrsnLn();
		display: block;
		background-color: #fff;
		width: 40%;
		position: fixed;
		top: 30%;
		left: 50%;
		margin-left: -20%;
	  box-shadow: 0 0 0 1px rgba(0, 166, 81, 0.5);
	  padding-top: 1px;
		z-index: 9999;
	  .header_pop{
	    background-color: #00a651;
	    display: block;
	    height: 50px;
	    margin: 0 auto;
	    width: ~'calc(100% - 2px)';
	    text-align: center;
	    line-height: 50px;
	    font-size: 24px;
	    text-transform: uppercase;
	    color: #fff;
	    font-family: "HelveticaNeue-Bold";
	    position: relative;
	    .fa{
	    	.ovl_bg_bl();
	    	position: absolute;
	    	display: block;
	    	width: 40px;
	    	height: 40px;
	    	top: 5px;
	    	right: 5px;
	    	cursor: pointer;
	    	line-height: 40px;
	    	text-align: center;
	    	color: #fff;
	    }
		}
		.body_pop{
			display: block;
			padding: 30px;
			font-family: "HelveticaNeue-Medium";
			font-size: 13px;
			color: rgba(0,0,0,0.86);
			text-align: center;
		}
		.ctrl{
			display: block;
			text-align: center;
			padding: 10px 0;
			background-color: #f1f1f1;
			.update{
				.ovl_bg_bl();
				display: inline-block;
				background-color: @mainColor;
				color: #fff;
				text-transform: uppercase;
				font-family: "HelveticaNeue-Medium";
				font-size: 14px;
				text-align: center;
				border: 1px solid rgba(0,0,0,0.12);
				box-shadow: none;
				padding: 0 15px;
				cursor: pointer;
				line-height: 25px;
				text-align: center;
				margin-left: 15px;
			}
			.cancel{
				.ovl_bg_bl();
				display: inline-block;
				background-color: #e5e5e5;
				text-transform: uppercase;
				font-family: "HelveticaNeue-Medium";
				font-size: 14px;
				text-align: center;
				line-height: 25px;
				border: 1px solid rgba(0,0,0,0.12);
				padding: 0 15px;
				cursor: pointer;
			}
		}
	}
	&.show{
		opacity: 1;
		visibility: visible;
	}
}
#side-menu{
	li a{
		font-size: 14px;
		padding-left: 30px;
		font-family: "HelveticaNeue-Medium";
	}
	.nav-second-level{
		li a{
			padding-left: 50px;
			font-family: "HelveticaNeue"
		}
	}
}
.page-header{
	font-size: 16px;
	font-family: "HelveticaNeue-Medium";
	text-transform: uppercase;
	border-bottom: 2px solid @mainColor;
	color: @mainColor
}
.wrap{
  width: ~'calc(100% - 30px)';
  margin-left: 15px;
}
.filter{
  .mxRadius(2px);
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  display: block;
  height: 34px;
  overflow: hidden;
  width: ~'calc(100% - 30px)';
  margin-left: 15px;
  margin-bottom: 20px;
  position: relative;
  .fil{
  	.ovl_bg_bl(0.05);
  	.mxTrsnLn();
  	line-height: 34px;
  	float: left;
  	padding: 0 15px;
  	font-size: 14px;
  	cursor: pointer;
  	font-family: "HelveticaNeue-Light";
  	&:before{
  		.mxTrsnLn();
			display: block;
			background-color: #fff;
			width: ~'calc(100% - 30px)';
			height: 2px;
			content: '';
			position: absolute;
			bottom: 0;
  		}
  	&.atv{
  		color: @mainColor;
  		font-family: "HelveticaNeue-Medium";
  		&:before{
  			background-color: @mainColor;
  		}
  	}
  	.ab{
  		.mxRadius(8px);
  		background-color: @abColor;
  		padding: 2px 5px;
  		font-size: 12px;
  		color: #fff;
  		line-height: 16px;
  	}
  }
}
.bigchart {
	.mxRadius(2px);
  background-color: #fff;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 16px 16px 0;
  text-align: center;
  margin-top: 15px;
  .ch {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    height: 148px;
	}
	.mn {
    display: block;
    padding-top: 8px;
    .m {
	    border-bottom: 2px solid #fff;
	    color: rgba(0, 0, 0, 0.54);
	    cursor: pointer;
	    display: inline-block;
	    font-family: "HelveticaNeue-Medium";
	    font-size: 12px;
	    margin-right: 30px;
	    padding-bottom: 7px;
	    &:hover {
		    color: rgba(0, 0, 0, 0.87);
			}
			&.atv{
				color: rgba(0,0,0,0.87);
				border-bottom-color: @mainColor;
			}
		}
	}
}
.statisticspace{
	display: block;
	padding-bottom: 20px;
	.b {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
    display: block;
    float: left;
    height: 220px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    width: ~'calc((100% - 40px)/3)';
    &:nth-child(3n){
    	margin-right: 0;
    }
    .hb {
	    color: @mainColor;
	    display: block;
	    font-family: "HelveticaNeue-Bold";
	    font-size: 14px;
	    padding: 12px 0 10px 16px;
	    text-transform: uppercase;
		}
		.n {
	    font-family: "HelveticaNeue-Light";
	    font-size: 34px;
	    margin-bottom: 20px;
	    padding-left: 16px;
		}
		.tt {
	    color: rgba(0, 0, 0, 0.54);
	    font-family: "HelveticaNeue-Medium";
	    font-size: 12px;
	    margin-bottom: 5px;
	    padding-left: 16px;
	    text-transform: uppercase;
		}
		.tk {
			display: block;
	    color: rgba(0, 0, 0, 0.54);
	    font-size: 13px;
	    padding-left: 16px;
	    line-height: 20px;
	    .fa{
	    	margin-right: 5px;
	    	font-size: 16px;
	    	line-height: 20px;
	    	&.fa-chevron-circle-down{
	    		color: @abColor;
	    	}
	    	&.fa-chevron-circle-up{
	    		color: @mainColor;
	    	}
	    }
		}
		.bdch{
			display: block;
			.ch {
		    display: block;
		    float: left;
		    height: 150px;
		    margin-left: 14px;
		    margin-top: 6px;
		    position: relative;
		    width: 150px;
		    img {
			    height: 150px;
			    left: 0;
			    position: absolute;
			    top: 0;
			    width: 150px;
				}
				.nch {
			    font-family: "HelveticaNeue-Medium";
			    font-size: 34px;
			    line-height: 150px;
			    position: absolute;
			    text-align: center;
			    text-transform: uppercase;
			    width: 150px;
				}
			}
			.ttch {
		    display: block;
		    float: left;
		    height: 150px;
		    margin-left: 10px;
		    padding-top: 11px;
				.l {
					color: rgba(0, 0, 0, 0.54);
					position: relative;
			    font-size: 11px;
			    height: 12px;
			    margin-top: 18px;
			    padding-left: 15px;
			    &:after{
				    .mxRadius(50%);
				    content: "";
				    position: absolute;
				    left: 0;
				    top: 3px;
				    display: block;
				    height: 10px;
				    margin-right: 6px;
				    width: 10px;
			    }
			    &.gr:after{
			    	background-color: #01d1ac;
			    }
			    &.pi:after{
			    	background-color: #ff3890;
			    }
			    &.blu:after{
			    	background-color: #00c7ff;
			    }
			    &.gra:after{
			    	background-color: #969696;
			    }
				}
			}
		}
		.scrb {
	    height: 145px;
	    padding-left: 16px;
	    .r {
		    border-bottom: 1px dashed #979797;
		    padding-bottom: 14px;
		    padding-top: 20px;
		    width: ~'calc(100% - 16px)';
		    &:first-child{
		    	padding-top: 6px;
		    }
		    .ler {
			    float: left;
			    font-family: "HelveticaNeue-Medium";
			    font-size: 13px;
			    display: block;
			    width: 70%;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
				}
				.rir {
			    color: rgba(0, 0, 0, 0.54);
			    float: right;
			    font-size: 13px;
			    width: 25%;
			    padding-right: 5%;
			    text-align: right;
				}
			}
			.rb5 {
		    height: 20px;
		    margin-top: 10px;
		    &:first-child{
		    	margin-top: 0;
		    }
		    .num{
		    	.mxRadius(50%);
		    	float: left;
		    	display: block;
		    	height: 18px;
		    	width: 18px;
		    	border: 1px solid @mainColor;
		    	text-align: center;
		    	font-size: 12px;
		    	line-height: 16px;
		    	color: @mainColor;
		    }
		    .na{
		    	display: block;
		    	font-family: "HelveticaNeue-Medium";
		    	line-height: 18px;
		    	font-size: 13px;
		    	float: left;
		    	margin-left: 10px;
		    }
			}
			.jspPane{
				width: 100% !important;
			}
			.jspVerticalBar{
				width: 8px;
				background-color: transparent;
			}
			.jspTrack{
				background-color: rgba(0,166,81,0.5);
				width: 2px;
				left: 3px;
				.jspDrag{
					background-color: #80d3a8;
					.mxRadius(4px);
					width: 8px;
					left: -3px;
				}
			}
		}
		.more{
			.mxTrsnLn();
			display: block;
			padding-right: 16px;
			font-size: 12px;
			font-family: "HelveticaNeue-Light";
			text-align: right;
			float: right;
			cursor: pointer;
			padding-top: 5px;
			&:hover{
				font-family: "HelveticaNeue-Medium";
				text-decoration: none;
			}
		}
	}
}
.ctrlb{
	width: ~'calc(100% - 30px)';
	display: block;
	margin-left: 15px;
	margin-bottom: 20px;
	.sh{
		display: block;
		position: relative;
		.lb{
			float: left;
			line-height: 30px;
			font-size: 14px;
		}
		.sbHolder{
			margin: 0 5px;
	    background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.12);
	    float: left;
	    font-family: "HelveticaNeue";
	    width: 75px;
	    .sbToggle {
		    display: none;
			}
			.sbSelector {
		    width: 75px;
		    &:link, &:visited, &:hover {
			    color: @mainColor;
				}
			}
			.sbOptions {
		    background-color: #fff;
		    border: 1px solid rgba(0,0,0,0.12);
		    width: 75px;
		    a {
			    border-bottom: 1px solid rgba(0,0,0,0.05);
			    &:link, &:visited {
				    color: rgba(0,0,0,0.86);
				    text-decoration: none;
					}
				}
			}
		}
	}
	.sf{
		width: 300px;
		display: block;
	}
}
.table{
	width: ~'calc(100% - 30px)';
	margin-left: 15px;
	margin-bottom: 0;
	.sb.all{
		text-align: center;
		.tt{
			display: none;
		}
		.sbHolder{
			display: block;
			margin: 0 auto;
			text-align: center;
		}
		.ttb{
			display: inline-block;
			text-align: center;
			&:hover .ip{
				color: @mainColor;
			}
		}
	}
	.is-ck, .is-ck-all{
		.mxTrsnLn();
		color: @mainColor;
		margin-right: 5px;
	}
	.is-show, .is-show-all{
		.mxTrsnLn();
		color: @mainColor;
		margin-right: 5px;
		&.hid{
			visibility: visible;
			opacity: 0;
			pointer-events: none;
		}
	}
	.fa{
		line-height: 24px;
		cursor: pointer;
		position: relative;
		.p{
			.mxRadius(2px);
			.mxTrsnLn();
			position: absolute;
			display: block;
			height: 0px;
			background-color: #212121;
			color: #fff;
			white-space: nowrap;
			top: 20px;
			left: 50%;
			-ms-transform: translateX(-50%); /* IE 9 */
	    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
	    transform: translateX(-50%);
	    font-size: 12px;
	    padding: 0 12px;
	    line-height: 24px;
	    overflow: hidden;
		}
		&:hover{
			.p{
				height: 24px;
			}
		}
	}
	.sb{
		.sbHolder{
	    background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.12);
	    font-family: "HelveticaNeue";
	    width: 200px;
	    height: 24px;
	    .sbToggle {
		    display: none;
			}
			.sbSelector {
		    width: 200px;
		    height: 24px;
		    line-height: 24px;
		    &:link, &:visited, &:hover {
			    color: @mainColor;
				}
			}
			.sbOptions {
		    background-color: #fff;
		    border: 1px solid rgba(0,0,0,0.12);
		    width: 200px;
		    margin-top: -50%;
		    a {
			    border-bottom: 1px solid rgba(0,0,0,0.05);
			    &:link, &:visited {
				    color: rgba(0,0,0,0.86);
				    text-decoration: none;
					}
				}
			}
		}
	}
	th{
		position: relative;
		cursor: pointer;
		&.f{
			text-align: center;
			&:hover{
				.fa{
					color: @mainColor;
				}
			}
		}
		&.sb{
			.sbHolder{
				display: none;
			}
			.ttb{
				display: none;
			}
		}
		.tt{
			font-size: 14px;
			font-family: "HelveticaNeue-Medium";
			line-height: 24px;
		}
		.icb{
			.mxTrsnLn();
			position: absolute;
			display: block;
			opacity: 1;
			visibility: visible;
			right: 8px;
			height: 100%;
			top: 0;
			cursor: pointer;
			padding: 0 3px;
			.fa {
				.mxTrsnLn();
		    display: block;
		    height: ~'calc(50% - 10px)';
		    padding-top: 3px;
		    color: rgba(0,0,0,0.24);
			}
		}
		.ics{
			.mxTrsnLn();
			display: block;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			right: 8px;
			height: 100%;
			top: 0;
			cursor: pointer;
			padding: 0 3px;
			.fa{
				.mxTrsnLn();
				line-height: 24px;
				right: 0;
				margin-top: -50%;
				color: rgba(0,0,0,0.56);
				-ms-transform: translateY(50%); /* IE 9 */
		    -webkit-transform: translateY(50%); /* Chrome, Safari, Opera */
		    transform: translateY(50%);
				&.fa-caret-square-o-up{
					display: none;
				}
			}
			&.down{
				.fa-caret-square-o-down{
					display: none;
				}
				.fa-caret-square-o-up{
					display: block;
				}
			}
		}
		&:hover{
			.fa{
				color: rgba(0,0,0,0.86);
			}
		}
		&.atv{
			.icb{
				display: block;
				opacity: 0;
				visibility: hidden;
			}
			.ics{
				display: block;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	td{
		font-size: 14px;
		line-height: 24px;
		&.lv{
			text-align: left;
			padding-left: 30px;
		}
	}
	tr{
		.mxTrsnLn();
		&.ck{
			background-color: rgba(0,166,81,0.1);
		}
		&.lv2 .lv{
			padding-left: 60px;
		}
	}
	.ttb{
		width: 80px;
		.ip{
			display: inline-block;
			font-family: "HelveticaNeue-Medium";
			font-size: 14px;
			line-height: 24px;
		}
	}
	&.cate_table{
		.cl1{
			width: 100px;
		}
		.cl2{
			width: 400px;
		}
		.cl3{
			width: 250px;
		}
		.cl4{
			width: 75px;
		}
		.fa{
			margin-left: 10px;
			position: relative;
			&.is-ck, &.is-ck-all, &.fa-edit{
				margin-left: 0;
			}
		}
		.lv2 {
			&:first-child{
				.fa-caret-up{
					pointer-events: none;
					opacity: 0.25;
				}
			}
			.is-show{
				visibility: visible;
				opacity: 0;
				pointer-events: none;
			}
		}
	}
	&.book_table{
		.cl1{
			width: 40px;
			.fa{
				margin: 0;
			}
		}
		.cl2{
			width: 250px;
		}
		.cl3{
			width: 150px;
		}
		.cl4{
			width: 185px;
		}
		.cl5{
			width: 85px;
		}
		.cl8{
			width: 80px;
		} 
		.cl6, .cl7{
			width: 50px;
			text-align: center;
		}
		.cl9{
			width: 100px;
		}
		.t{
			font-size: 13px;
		}
	}
	.disable{
		pointer-events: none;
		opacity: 0.25;
	}
}
.fgr{
	display: block;
	margin-top: 15px;
	width: 50%;
	&:first-child{
		margin-top: 0;
	}
	.l{
		display: block;
		font-size: 13px;
		color: rgba(0,0,0,0.86);
		margin-bottom: 5px;
	}
	.sbHolder{
			margin: 0;
	    background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.12);
	    font-family: "HelveticaNeue";
	    width: 100%;
	    .sbToggle {
		    display: none;
			}
			.sbSelector {
		    width: 100%;
		    &:link, &:visited, &:hover {
			    color: @mainColor;
				}
			}
			.sbOptions {
		    background-color: #fff;
		    border: 1px solid rgba(0,0,0,0.12);
		    width: 100%;
		    a {
			    border-bottom: 1px solid rgba(0,0,0,0.05);
			    &:link, &:visited {
				    color: rgba(0,0,0,0.86);
				    text-decoration: none;
					}
				}
			}
		}
	.ip{
		width: 100%;
		border: 1px solid rgba(0,0,0,0.12);
		height: 30px;
		display: block;
		padding: 0 10px;
		color: rgba(0,0,0,0.86);
		font-size: 13px;
		font-family: "HelveticaNeue-Medium";
		resize: none;
	}
	.itr{
		width: 100%;
		border: 1px solid rgba(0,0,0,0.12);
		height: 120px;
		display: block;
		padding: 0 10px;
		color: rgba(0,0,0,0.86);
		font-size: 13px;
		font-family: "HelveticaNeue-Medium";
		resize: none;
	}
	.ipb{
		padding: 3px 10px 0;
		border: 1px solid rgba(0,0,0,0.12);
		.b{
			.mxRadius(2px);
			display: block;
			float: left;
			border: 1px solid rgba(0,166,81,0.5);
			height: 20px;
			margin-bottom: 3px;
			margin-right: 3px;
			font-family: "HelveticaNeue-Medium";
			font-size: 13px;
			line-height: 18px;
			position: relative;
			padding: 0 20px;
			.fa{
				display: block;
				color: #f65e7f;
				position: absolute;
				right: 3px;
				top: 3px;
				cursor: pointer;
			}
		}
		.aip{
			.mxRadius(2px);
			display: block;
			float: left;
			border: 1px solid rgba(0,166,81,0.5);
			height: 20px;
			margin-bottom: 3px;
			margin-right: 3px;
			font-family: "HelveticaNeue-Medium";
			font-size: 13px;
			position: relative;
			padding: 0 10px;
			width: 130px;
		}
	}
	.ch{
		display: block;
		width: 100%;
		.up{
			display: block;
			width: 100%;
			height: 25px;
			&:first-child{
				margin-bottom: 10px;
			}
			.bt{
				.ovl_bg_bl();
				.mxRadius(0);
				box-shadow: none;
				width: 100%;
				border: 1px solid rgba(0,0,0,0.12);
				font-family: "HelveticaNeue-Medium";
				font-size: 13px;
				height: 30px;
				padding-left: 10px;
				line-height: 28px;
				cursor: pointer;
			}
			.ipch{
				.mxRadius(0);
				box-shadow: none;
				width: 100%;
				border: 1px solid rgba(0,0,0,0.12);
				font-family: "HelveticaNeue-Medium";
				font-size: 13px;
				display: none;
				height: 30px;
				padding-left: 10px;
				line-height: 28px;
			}
		}
	}
}
.er{
	display: block;
	background-color: #f65e7f;
	padding: 5px 10px 5px;
	margin-bottom: 20px;
	*{
		color: #fff;
		font-family: "HelveticaNeue-Light";
		font-size: 13px;
	}
}
.sc{
	display: block;
	background-color: rgba(0,166,81,0.7);
	padding: 5px 10px 5px;
	margin-bottom: 20px;
	*{
		color: #fff;
		font-family: "HelveticaNeue-Light";
		font-size: 13px;
	}
}
.ctrlp{
	display: block;
	padding: 20px 0;
	.apply{
		.ovl_bg_bl();
		display: block;
		height: 30px;
		background-color: @mainColor;
		color: #fff;
		font-family: "HelveticaNeue-Medium";
		text-transform: uppercase;
		font-size: 14px;
		box-shadow: none;
		border: none;
		padding: 0 10px;
		line-height: 30px;
		float: right;
		margin-left: 15px;
	}
	.cancel{
		.ovl_bg_bl();
		display: block;
		height: 30px;
		border: 1px solid rgba(0,0,0,0.24);
		background-color: rgba(0,0,0,0.1);
		color: #fff;
		font-family: "HelveticaNeue-Medium";
		text-transform: uppercase;
		font-size: 14px;
		box-shadow: none;
		border: none;
		padding: 0 10px;
		line-height: 30px;
		float: right;
	}
}
.page_number{
	display: inline-block;
	width: ~'calc(100% - 30px)';
	text-align: center;
	height: 20px;
	background-color: #f1f1f1;
	padding: 10px 0;
	margin-left: 15px;
	margin-top: 20px;
	box-sizing: content-box;
	.page_num{
		display: inline-block;
		height: 20px;
		text-align: center;
		.num{
			.mxRadius(3px);
			.mxTrsnLn();
			.ovl_bg_bl();
			font-size: 12px;
			padding: 0 10px;
			color: rgba(0,0,0,0.54);
			line-height: 20px;
			overflow: hidden;
			float: left;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			&.atv{
				background-color: @mainColor;
				color: #fff;
			}
			&.hide{
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
			}
		}
	}
}
.sp3{
	width: ~'calc((50% - 20px)/3)' !important;
	margin-right: 10px !important;
	margin-top: 15px !important;
	float: left;
	&:nth-child(3n){
		margin-right: 0 !important;
	}
}
.ss4{
	.fgr{
		width: ~'calc((50% - 45px)/4)' !important;
		margin-right: 15px !important;
		margin-top: 15px !important;
		float: left;
		&:nth-child(4n){
			margin-right: 0 !important;
		}
		&.lt{
			/* width: ~'calc((50% - 30px)/8)' !important; */
		}
		&.la{
			/*width: ~'calc((50% - 30px)*3/8)' !important;*/
			.p{
				display: block;
				width: 100%;
				input{
					display: inline-block;
					width: 42%;
			    border: 1px solid rgba(0, 0, 0, 0.12);
			    color: rgba(0, 0, 0, 0.86);
			    font-family: "HelveticaNeue-Medium";
			    font-size: 13px;
			    height: 30px;
			    padding: 0 10px;
				}
			}
		}
	}
}